<div class="login-background">
  <div class="login-container-login">
    <div class="login-card">
      <h2 class="login-title">Welcome to NTD Challenge</h2>
      <p class="login-subtitle">Please log in to continue</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email address</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Enter your email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="btn-primary">Login</button>
        </div>
        <div class="extra-actions">
          <a href="#" class="forgot-password" [routerLink]="['/signup']">Create User</a>
        </div>
      </form>
    </div>
  </div>
</div>
