<div class="calculator-container">
  <div class="display">
    {{displayValue}}
  </div>
  <div class="button-row">
    <button mat-button (click)="clear()">C</button>
    <button mat-button (click)="toggleSign()">+/-</button>
    <button mat-button (click)="percent()">%</button>
    <button mat-button (click)="operator(TypeEnum.DIVISION)">/</button>
  </div>
  <div class="button-row">
    <button mat-button *ngFor="let num of [7, 8, 9]" (click)="inputNumber(num)">{{num}}</button>
    <button mat-button (click)="operator(TypeEnum.MULTIPLICATION)">*</button>
  </div>
  <div class="button-row">
    <button mat-button *ngFor="let num of [4, 5, 6]" (click)="inputNumber(num)">{{num}}</button>
    <button mat-button (click)="operator(TypeEnum.SUBTRACTION)">-</button>
  </div>
  <div class="button-row">
    <button mat-button *ngFor="let num of [1, 2, 3]" (click)="inputNumber(num)">{{num}}</button>
    <button mat-button (click)="operator(TypeEnum.ADDITION)">+</button>
  </div>
  <div class="button-row">
    <button mat-button (click)="inputNumber(0)">0</button>
    <button mat-button (click)="decimal()">.</button>
    <button mat-button (click)="calculate()">=</button>
  </div>
</div>

<div class="links">
  <button mat-button routerLink="/user-records">User Records</button>
  <button mat-button>New Operation</button>
</div>
