<div class="records-container">
  <button mat-icon-button routerLink="/" class="back-button" aria-label="Back to Calculator">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table full-width-table">
      <!-- Operation Column -->
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <div class="column-title">Operation</div>
          <mat-form-field appearance="outline" class="filter-field">
            <input matInput (keyup)="applyFilterColumn($event, 'operation.type')" placeholder="Filter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let record" class="text-center">{{record.operation.type}}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <div class="column-title">Amount</div>
          <mat-form-field appearance="outline" class="filter-field">
            <input matInput (keyup)="applyFilterColumn($event, 'amount')" placeholder="Filter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let record" class="text-center">{{record.amount | currency}}</td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <div class="column-title">Balance</div>
          <mat-form-field appearance="outline" class="filter-field">
            <input matInput (keyup)="applyFilterColumn($event, 'userBalance')" placeholder="Filter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let record" class="text-center">{{record.userBalance | currency}}</td>
      </ng-container>

      <!-- Response Column -->
      <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <div class="column-title">Response</div>
          <mat-form-field appearance="outline" class="filter-field">
            <input matInput (keyup)="applyFilterColumn($event, 'operationResponse')" placeholder="Filter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let record" class="text-center">{{record.operationResponse | decimalFormat}}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <div class="column-title">Date</div>
          <mat-form-field appearance="outline" class="filter-field">
            <input matInput (keyup)="applyFilterColumn($event, 'date')" placeholder="Filter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let record" class="text-center">{{record.date | date}}</td>
      </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
